* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #46424D;
  color: #FFF;
  margin-top: 0;
  width: 100%;
  height: 72px;
}

h1 {
  font-size: 23px;
  padding-top: 8px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

main {
  background-color: #2B2733;
  padding: 7px 2% 15px 2%;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.left-subheader {
  color: #CBC9CF;
  margin-bottom: 11px;
  padding-bottom: 3px;
  width: 100%;
}

.left-section {
  border-radius: 4px;
  box-shadow: 8px 3px #26222D;
  background-color: #46424D;
  width: 100%;
  margin-bottom: 18px;
  padding-bottom: 1px;
}

h4 {
  color: #fff;
  font-size: 18px;
}

.select {
  padding-top: 30px;
  padding-left: 11%;
}

#study {
  background-image: url(./assets/study.svg);

}

#meditate {
  background-image: url(./assets/meditate.svg);
}

#exercise {
  background-image: url(./assets/exercise.svg);
}

.buttons-div {
  display: flex;
  justify-content: space-around;
  padding: 0px 6% 0px 6%;
}

.activity-btn {
  border: 2px solid #FFF;
  border-radius: 5px;
  background-color: #46424D;
  color: #FFF;
  font-size: 17px;
  height: 74px;
  width: 21%;
  background-size: 18%;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 30px;
}

.forms {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding-left: 11%;
  padding-top: 39px;
  width: 100%;
}

.minute {
  display: flex;
  flex-wrap: wrap;
  padding-left: 11%;
  padding-top: 50px;
  width: 50%;
}

.second {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8%;
  padding-right: 4%;
  padding-top: 50px;
  width: 50%;
}

.big-input {
  border: none;
  border-bottom: 2px solid #CBC9CF;
  background-color: #46424D;
  height: 20px;
  width: 86%;
}

.small-input {
  border: none;
  border-bottom: 2px solid #CBC9CF;
  background-color: #46424D;
  height: 20px;
  width: 79%;
}

.activity {
  display: flex;
  justify-content: flex-end;
  margin: 50px 11% 55px 0px;
  width: 100%;
}

#start-activity {
  border-radius: 3px;
  background-color: #FFFFFF;
  font-size: 18px;
  width: 28%;
  height: 40px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

.right_side {
  background-color: #2B2733;
  border-left: 4px solid #46424D;;
  display: flex;
  flex-flow: column wrap;
  font-size: 16px;
  padding: 10px 35px 0px 35px;
  width: 35%;
}

.right-subheader {
  color: #CBC9CF;
  width: 100%;
}

p {
  color: #CBC9CF;
  letter-spacing: 0px;
  line-height: 200%;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
