* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #46424D;
  color: #FFF;
  margin-top: 0;
  width: 100%;
  height: 65px;
}

h1 {
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

main {
  background-color: #2B2733;
  padding: 7px 28px 15px 28px;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.left-subheader {
  color: #CBC9CF;
  margin-bottom: 11px;
  padding-bottom: 3px;
  width: 100%;
}

.left-section {
  border-radius: 5px;
  box-shadow: 8px 3px #26222D;
  background-color: #46424D;
  width: 100%;
  padding-bottom: 20px;
}

h4 {
  color: #fff;
  font-size: 18px;
}

.select {
  padding-top: 30px;
  padding-left: 95px;
}

#study {
  background-image: url(./assets/study.svg);

}

#meditate {
  background-image: url(./assets/meditate.svg);
}

#exercise {
  background-image: url(./assets/exercise.svg);
}

.buttons-div {
  display: flex;
  justify-content: space-around;
  padding: 0px 49px 0px 49px;
}

.activity-btn {
  border: 2px solid #FFF;
  border-radius: 5px;
  background-color: #46424D;
  color: #FFF;
  font-size: 17px;
  height: 74px;
  width: 21%;
  background-size: 18%;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 30px;
}

.forms {
  display: flex;
  justify-content: center;
  /* height: 100px; */
  width: 100%;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-top: 39px;
  width: 100%;
}

.minute {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 53px;
  padding-top: 50px;
  width: 50%;
}

.second {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 50px;
  width: 50%;
}

.big-input {
  border: none;
  border-bottom: 2px solid #CBC9CF;
  background-color: #46424D;
  height: 20px;
  width: 86%;
}

.small-input {
  border: none;
  border-bottom: 2px solid #CBC9CF;
  background-color: #46424D;
  height: 20px;
  width: 79%;
}

.activity {
  display: flex;
  justify-content: flex-end;
  margin: 50px 115px 55px 0px;
  width: 100%;
}

#start-activity {
  border-radius: 3px;
  background-color: #FFFFFF;
  font-size: 18px;
  width: 28%;
  height: 40px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

.right_side {
  background-color: #46424D;
  border-left: 2px solid grey;
  width: 35%;
  /* border: 4px solid red; */
  display: flex;
  /* flex-grow: 1; */
}

p {
  color: #fff;
}
