* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #2B2733;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #46424D;
  width: 100%;
  padding: 8px 0px;
}

h1 {
  color: #FFF;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

main {
  background-color: #2B2733;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 35px 15px 35px;
  width: 66%;
}

.subheader {
  color: #CBC9CF;
  font-size: 23px;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 4px;
}

.setup {
  /* border: 2px solid white; */
  background-color: #46424D;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 15px 15px 15px;
  padding: 30px 5px 23px 30px;
}

.category {
  color: #FFF;
  font-size: 18px;
  padding-bottom: 15px;
  padding-left: 55px;
}

.word {
  margin: 0px;
}

.image {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.picture {
  height: 25px;
  margin: auto;
  width: 25px;
}

.selection {
  border-radius: 5px;
  border: 2px solid #FFF;
  color: #FFF;
  height: 68px;
  padding-top: 10px;
  text-align: center;
  width: 20%;
}

.form {
width: 75%;
display: flex;
flex-wrap: wrap;
}

.goal {
  width: 99%;

}

.time {
  width: 50%;
}

.input {
  color: #FFF;
}

.recent {
  border: 2px solid white;
  width: 33%;
}

/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
